.footer {
  background-color: #f3f3f3;
  padding: 22px;
  text-align: right;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.footer ul{
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 0.9rem;
  gap: 1%;
  color: rgb(116, 116, 116);
  cursor: pointer;
}
